<div class="col-md-10">
    	<div class="responsive">
	    	<div class="col-md-10" class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">Vendidos</h3>
                </div>
                
	        	<div class="panel-body">

                    <div class="col-md-6">
                        <div *ngFor="let vendas of vendasAvista" class="list-group">
                            <a class="list-group-item" 
                            (click)="onSelect(vendas)" [ngClass]="{'active': vendasSelected == vendas}" >
                            <h4 class="list-group-item-heading">Cliente - {{vendas.tipo}} </h4>
                                <p class="list-group-item-text">{{vendas.data}},{{vendas.tempo}},
                                Total vendas: {{vendas.valorTotalVenda}}  </p>

                            </a>
                        </div>
                        <div class="panel panel-primary"><h4>Total vendas:{{valorTotalVendasDoDia}}</h4></div>
                    </div>
                        <div *ngIf="produtosSelected2" class="col-md-4">
                            <table  class="table table-striped">
				                <th>Nome</th>
				                <th>Valor</th>
				                    <tr  *ngFor="let produto of produtosSelected2">
                                        <td>{{produto.nome}}</td>
                                        <td>{{produto.valor}}</td>
						            </tr>
			                </table>
                        </div>
                </div>
                <div class="panel-heading">
                     <h3 class="panel-title">Recebidos</h3>
                </div>

                <div class="panel-body">
                      <div class="col-md-6"> 
                            <table class="table table-striped">
                                <th>Cliente</th>
                                <th>Data</th>
                                <th>Valor</th>
                              <tr *ngFor="let recebido of recebidosDoDia"  >
                                <td>{{recebido.cliente.nome}}</td>
                                <td>{{recebido.data}}</td>
                                <td>{{recebido.valor}}</td>
                               
                             </tr>
                             
                          </table>
                          <div class="panel panel-primary"><h4>Total recebidos:{{totalDeRecebidos}}</h4></div>
                        </div>
                </div>
            </div>
          </div>
	    <div class="panel panel-primary"><h4>Apurado do Dia:{{ valorTotalVendasDoDia + totalDeRecebidos}}</h4></div>
    </div> 
