<div class="col-md-10">
      	<div class="responsive">
	    	<div class="col-md-10" class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">Vendidos</h3>
                </div>
	        	<div class="panel-body">
                    <div class="col-md-6">
                        
                        <data-pick (dataMomentOutput)="modificaData($event)"></data-pick>
                        
                        <button class="btn btn-primary btn-md" (click)="buscarData()">Buscar</button>
                        <button class="btn btn-primary btn-md" (click)="ngOnInit()">Todas</button>
                        <br>
                        <div *ngFor="let vendas of vendasAvista"
                        class="list-group">
                            <a class="list-group-item" 
                            (click)="onSelect(vendas)" [ngClass]="{'active': vendasSelected == vendas}" >
                               <h4 class="list-group-item-heading">{{vendas.tipo}} </h4>
                                    <div class="pull-right">
                                        <button class="btn btn-danger btn-xs" (click)="deleteVenda(vendas)">X</button>
                                    </div>
                               
                                <p class="list-group-item-text">{{vendas.data}}, {{vendas.tempo}} 
                                Valor Total: {{vendas.valorTotalVenda}} </p>
                                      
                            </a>
                        </div>

                        <div class="panel panel-primary"><h4>Total Vendas:{{ TotalValoresDasVendas}}</h4></div>
          	           
                    </div>
                        <div *ngIf="produtosSelected" class="col-md-4">
                            <table  class="table table-striped">
				                <th>Nome</th>
				                <th>Valor</th>
				                    <tr  *ngFor="let produto of produtosSelected">
                                        <td>{{produto.nome}}</td>
                                        <td>{{produto.valor}}</td>
						            </tr>
			                </table>
                        </div>
                </div>
                <div class="panel-heading">
                     <h3 class="panel-title">Recebidos</h3>
                </div>

                <div class="panel-body">
                    <div class="col-md-6"> 
               	    <table class="table table-striped">
                    <th>Cliente</th>
                    <th>Data</th>
				    <th>Valor</th>
				        <tr *ngFor="let recebido of recebidos" class="success">
                            <td>{{recebido.cliente.nome}}</td>
                            <td>{{recebido.momento}}</td>
                            <td>{{recebido.valor}}</td>
                            <td><div class="pull-right">
                                <button class="btn btn-danger btn-xs" (click)="deleteRecebido(recebido)">X</button>
                            </div></td>				    
                        </tr>
                    </table>
                        <div class="panel panel-primary"><h4>Total Recebidos:{{ TotalValoresRecebidos}}</h4></div>
                    </div>
                    
                </div>


            </div>
          </div>
        <div class="panel panel-primary"><h4>Apurado do Dia: {{TotalValoresDasVendas+TotalValoresRecebidos}}</h4></div>
        
   
    </div> 
