
<div class = "container">
        <div class="wrapper">
    
            
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Erro - Campo email vazio
                </div>
           
        </div>
              
       <div *ngIf="senha.invalid && (senha.dirty || senha.touched)"
            class="alert alert-danger">
              <div *ngIf="senha.errors.required">
                 Erro - Campo senha vazio
              </div>
             
        </div>
              <h3 class="form-signin-heading">Bem Vindo! Por favor entre com o email e a senha</h3>
              <hr class="colorgraph"><br>
              
              <input type="text" class="form-control" [(ngModel)]="usuarioPrepararLogar.email" #email="ngModel"  placeholder="Email" required="" autofocus="" />
              <input type="password" class="form-control" [(ngModel)]="usuarioPrepararLogar.senha" #senha="ngModel" placeholder="Senha" required=""/>     		  
             
              <button class="btn btn-lg btn-primary btn-block" (click)="entrar()" 
               type="Submit">Login</button>  			
           <!--> [disabled]="email.invalid || senha.invalid"<-->
        </div>
      </div>
    