
<div class="col-md-12">
      	<div class="responsive">
	    	<div class="col-md-12" class="panel panel-primary">
                <div class="panel-heading">
                     <h3 class="panel-title">Recebido</h3>
                </div>
                  <div class="panel-body">
                    <div class="col-md-4">
                        <p>Procurar Cliente:</p> <input type="text" class="form-control" (keyup)="onKey($event)"/>
                        <div *ngFor="let cliente of clientes | filterClienteRecebidos: values" class="list-group">
                            <a class="list-group-item" 
                            (click)="onSelectCliente(cliente)" [ngClass]="{'active': clienteSelected == cliente}" >
                               <p class="list-group-item-text">{{cliente.nome}} </p>
                            </a>
                        </div>

                    </div>
                    <div *ngIf="clienteSelected" class="col-md-4">
                         <div *ngFor="let venda of vendasAvistaModel" class="list-group">
                            <a class="list-group-item" 
                            (click)="onSelectVenda(venda)" [ngClass]="{'active': vendasAvistaSelected == venda}" >
                              <p class="list-group-item-text">{{venda.data}}{{venda.tempo}} Valor da venda: {{venda.valorTotalVenda}}</p>
                            </a>
                        </div>
                        <p>Soma das Vendas do Cliente:{{totalValorClienteVenda}}</p>
                        <p>Total Recebidos:{{totalValorRecebidoCliente}}</p>
                      
                        <p>Debito do Cliente:{{clienteSelected.debitoDoCliente}}</p>
                        <div>
                            <p>Lista de Recebidos:</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let recebido of recebidosCliente" class="info">
                                        <td>{{recebido.data}},{{recebido.tempo}}</td>
                                        <td>{{recebido.valor}}</td>
                                    </tr>
                                </tbody>

                                
                            </table>
                        </div>
                        <div>
                            Digite o valor Recebido:
                            <input  type="number" [(ngModel)]="recebido.valor" required
                            #valor="ngModel" class="form-control">
                                
                            <button (click)="recebidoFunction(valor.value); valor.value=''" required
                                class="btn btn-primary btn-lg btn-block" [disabled]="valor.errors">Adicionar Recebido</button>

                            <div *ngIf="valor.invalid && (valor.dirty && valor.touched)"
                                class="alert alert-danger">
                                        <div *ngIf="valor.errors.required">
                                       Digite um valor
                                     </div>
                                </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <table  class="table table-striped">
                            <th>Nome</th>
                            <th>Valor</th>
                                <tr  *ngFor="let produto of produtosSelected">
                                     <td>{{produto.nome}}</td>
                                     <td>{{produto.valor}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div> 
