<!--><menu-principal></menu-principal><-->
			
<div class="row">
	<div class="col-md-4">
		<h4>Nome da Imagem</h4>
		<br>
		<modal-static (codigoBarrasOutput)="copiarCodigoBarras($event)"></modal-static>
		<br>
	
		<div class="form-group">
			<input type="number"  #codigoBarras="ngModel" required
				[(ngModel)]="produto.codigoBarras" class="form-control"  placeholder="Codigo de Barras">
			  <button (click)="venda(codigoBarras.value); codigoBarras.value=''"
				 class="btn btn-primary btn-lg btn-block" [disabled]="validaProduto(codigoBarras.value)">Adicionar</button>
				 <div *ngIf="validaProduto(codigoBarras.value) && (codigoBarras.dirty && codigoBarras.touched)"
				   	class="alert alert-danger">
					Codigo de Barras Invalido
				  </div>
		<div *ngIf="codigoBarras.invalid && (codigoBarras.dirty && codigoBarras.touched)"
		class="alert alert-danger">
   	 		<div *ngIf="codigoBarras.errors.required">
	  		 Digite um Codigo de Barras
	 		</div>
	    </div>
	</div>

	</div>
		<div class="col-md-4">
			<h4>Lista de Produtos</h4>
				<div class="table-responsive">
					<table class="table table-hover">
						<tr>
							<th>NOME ITEM</th>
							<th>VALOR ITEM</th>
						</tr>
						<tr *ngFor="let produtoVendido of produtosVendidos">
							<td>{{produtoVendido.nome}}</td>
							<td>{{produtoVendido.valor}}<div class="pull-right">
                            	<button class="btn btn-danger btn-xs" (click)="deleteVenda(produtoVendido)">X</button>
                            </div></td>
							
						</tr>
					</table>
					
				</div>
		</div>
		<div class="col-md-4">
			<h4>Valor Total da Compra</h4>
			<h3><p>{{valorTotalFinal}}</p></h3>
			<h4><p>Escolha o cliente</p></h4>
			<input type="button" class="btn btn-primary btn-lg btn-block" 
			[value]="listarClienteButton ? 'Listar Clientes' : 'Fechar Lista'"
			(click)="listarClientes()" [disabled]="validaVenda()">
			<button class="btn btn-primary btn-lg btn-block" 
			[disabled]="validaVenda()" (click)="finalizarVenda()">Finalizar Venda</button>
			
			
			<h4>Procurar Cliente:</h4>
			<p></p>
			<div *ngIf="!listarClienteButton">
			<input type="text" class="form-control" (keyup)="onKey($event)"/>
				<ul class="list-group"  *ngFor="let cliente of clientes | filterCliente: values">
					<li (click)="onSelect(cliente)" 
						class="list-group-item list-group-item-action"
						[ngClass]="{'active': clienteSelected == cliente}">
						{{cliente.nome}}
					</li>
				</ul>
			</div>
		</div>

	
</div>
		