<!--><div class="container">
			<div class="jumbotron">
					<button class="btn btn-lg btn-primary btn-block" (click)="logar()" 
					 type="Submit">Login</button> 

			</div>
			<ul class="nav nav-pills nav-justified">
		
				<li role="presentation" routerLinkActive="active">
					<a routerLink="/vendas-module" routerLinkActive="active">Vendas</a>
				</li>
		
				<li role="presentation" routerLinkActive="active">
					<a routerLink="/recebidos-module" routerLinkActive="active">Recebidos</a>
				</li>
			
			
				<li  role="presentation" routerLinkActive="active"> 
					<a routerLink="/cruds-nav-module" routerLinkActive="active">CRUDS</a>
				</li>
			
		
				<li  role="presentation" routerLinkActive="active">
					<a routerLink="/relatorios-module" routerLinkActive="active">Relatórios</a>
				</li>
			
		
				<li  role="presentation" routerLinkActive="active">
					<a routerLink="/login-module" routerLinkActive="active">Login</a>
				</li>
			
				
			</ul>
		<br>

		{{usuario.tipo}}
<-->
			<router-outlet></router-outlet>
			

			

	





